
@model TextToSpeech.Models.Post
<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/app.js"></script>

    <style>
        body {
            background: url('../../images/0025_Washington-DC_5730767_Full.jpg') no-repeat center center fixed;
            background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("English", "Home"))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "control-label" })<br />
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })

                    @Html.LabelFor(m => m.Text, new { @class = "control-label" })<br />
                    @Html.TextAreaFor(m => m.Text, 18, 40, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })

                    <!-- <button type="submit" value="Enter">Enter</button>-->
                    <!--  <button onclick="audioPlay()" type="submit" value="Enter">Enter</button>-->
                    <!--  <button onclick="audioPlay()" value="Enter">Enter</button>-->
                    <input type="submit" value="Enter" class="btn-lg">

                </div>
                </div>
            </div>
        }
        <audio controls>
            <source id="play" src="@Url.Action("myaudio")" type="audio/mp3" />
        </audio>

    </body>
        </html>
