@model TextToSpeech.Models.Post
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: url('../../images/eiffel-tower-2000717_1920.jpg') no-repeat center center fixed;
            background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("French", "Home"))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h4>
                        S'il vous plaît entrer un titre
                    </h4>
                    @Html.LabelFor(m => m.Title, new { @class = "control-label" })<br />
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })

                    <h4>
                       S'il vous plaît entrez votre texte
                    </h4>

                    @Html.LabelFor(m => m.Text, new { @class = "control-label" })<br />
                    @Html.TextAreaFor(m => m.Text, 18, 40, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
                    <br />
                    <div class="col-lg-4">
                        <input type="submit" value="Enter" class="btn-lg">
                    </div>

                    <div class="col-lg-4">
                        <button type="button" value="Save" class="btn-lg" onclick="location.href='@Url.Action("Add", "Audios")'">Save</button>
                    </div>
                </div>
            </div>
        </div>

    }
    <br />
    <audio controls>
        <source id="play" src="@Url.Action("myaudio")" type="audio/mp3" />

    </audio>
</body>
</html>


