@model TextToSpeech.Models.Post
<!DOCTYPE html>
<html>
<head>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style>
        body {
            background: url('../../images/Untitled-design-2-4-796x417.png') no-repeat center center fixed;
            background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Spanish", "Home"))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h4>
                        Por favor introduzca un título
                    </h4>
                    @Html.LabelFor(m => m.Title, new { @class = "control-label" })<br />
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })

                    <h4>
                        Por favor ingrese su texto
                    </h4>

                    @Html.LabelFor(m => m.Text, new { @class = "control-label" })<br />
                    @Html.TextAreaFor(m => m.Text, 18, 40, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })

                    <br />

                    <div class="col-lg-3">
                        <input type="submit" value="Registar" class="btn-lg">
                    </div>
                    <div class="col-lg-3">
                        <button type="button" value="Salvar" class="btn-lg" onclick="location.href='@Url.Action("Add", "Audios")'">Salvar</button>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" value="página principal" class="btn-lg" onclick="location.href='@Url.Action("Index")'">Página Principal</button>

                        <div id="play">
                            <audio controls>
                                <source id="play" src="@Url.Action("myaudio")" type="audio/mp3" />
                            </audio>
                        </div>

                        <h4><font color="33CFFF">Traducir al (Frances, Aleman, Ingles) </font></h4>

                        @Html.TextBoxFor(m => m.Language, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Language, "", new { @class = "text-danger" })
                        <br />s
                        <div class="col-lg-2">
                            <input type="submit" value="Enter" class="btn-lg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>

